.inline{
	display: inline;
}
#mainNavbar .navbar-brand {
    color: #3277a8;
}

#mainNavbar {
    font-size: 2 rem;
    font-weight: 600;
}

#mainNavbar .nav-link {
    color: #007bff;
}

#mainNavbar .nav-link:hover {
    color: #3277a8;
}
.navbar.scrolled {
    background:  #e9ecef;
    transition: background 1s;
}
